<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/welcome.css') }}">
</head>
<body>
    <div class="fullpage">
        <div class="general">
            <div>
                <header class="container">
                    <div>
                        <a href="#" class="logo"><img src="{{ url_for('static', filename='pictures/logo.jpg')}}" alt="LOGO"></a>
                    </div>

                    <nav class="navbar">
                        <ul>
                            <li><a href="{{url_for('home') }}">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="body">
                <div class="body1">
                    <h1>WELCOME</h1>
                </div>
                <div class="special">
                    <p>Check your status by clicking the status button</p>
                    <a href="{{url_for('run_prediction') }}"><input type="submit" name="" value="CHECK STATUS"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>